body {
  margin: 0;
  background-color: rgb(93, 105, 214);
}
.top_nav {
  background-color: blueviolet;
  width: 100%;
  height: 100px;
  display: block;
}
.logo_cocktail {
  font-weight: bolder;
  font-size: 40px;
  font-family: "Akaya Kanadaka", cursive;
  padding: 5px;
  margin: 5px;
  float: left;
}
.seperator {
  height: 12px;
  width: 100%;
  background-color: rgb(26, 4, 51);
}
.square {
  margin: 12px auto;
  height: 400px;
  width: 400px;
  /* border: 5px solid red; */
  padding: 34px;
  font-family: "Akaya Telivigala", cursive;
  font-size: large;
}
button {
  background-color: blue;
  float: right;
}
