body {
  margin: 0;
  background-color: rgb(93, 105, 214);
}
.top_nav {
  /* margin: 4px; */
  background-color: blueviolet;
  width: 100%;
  height: 100px;
  /* position: fixed; */
  display: block;
}
.logo_cocktail {
  font-weight: bolder;
  font-size: 40px;
  font-family: "Akaya Kanadaka", cursive;
  padding: 5px;
  margin: 5px;
  float: left;
}
.seperator {
  height: 12px;
  width: 100%;
  background-color: rgb(26, 4, 51);
}
